body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

i {
  font-size: 34px;
}
h1 {
  font-weight: 900;
  color: #fff;
}

#zip-code-button1 {
  background-color: #30cfd0;
  display: relative;
  margin-right: 530px;
}

.degrees,
.fahrenheit {
  position: relative;
  bottom: 50px;
  left: 135px;
}

h5 .grados {
  font-size: 15px;
}

#feels-like, #current-temperature, #weather-conditions, #selected-location, #fa-cloud-sun-rain {
  color: #fff;
}

.coder-name {
  text-align: center;
}

.weather-video {
  display:block;
  margin: 0 auto;
}

i {
  font-size: medium;

}
.social-media {

  display: block;
  margin: 0 auto;
  text-align: center !important;
  font-size: small;
  color:  rgba(39,33,66,0.7);
}

.social-media-link {
  color:  rgba(39,33,66,0.7);
}


li {
  display: inline-block;
  padding: 8px;
}


.social-media-link:hover {
text-decoration: underline;
color: #482c6b;
}