
body {

  background: 
  url("https://images.unsplash.com/photo-1549490316-686f9b5d359f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-repeat: repeat;
  background-size: 100%;
}
/* body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
*/

#image-from-search {
  
  position: absolute;
  margin-top: 80px;
  margin-left: 350px;
  margin-right: 20px;
}

i {
  font-size: 34px;
}
h1 {
  font-weight: 900;
  color: #fff;
}

#zip-code-button1 {
  background-color: #30cfd0;
  display: relative;
  margin-right: 530px;
}

.degrees,
.fahrenheit {
  position: relative;
  bottom: 50px;
  left: 135px;
}

h5 .grados {
  font-size: 15px;
}

#feels-like, #current-temperature, #weather-conditions, #selected-location, #fa-cloud-sun-rain {
  color: #fff;
}

.coder-name {
  text-align: center;
  color: rgba(39,33,66,0.7);
}

.weather-video {
  display:block;
  margin: 0 auto;
}

#linkedin, #email, #twitter, #facebook, #github {
  font-size: medium;

}
.social-media {

  display: block;
  margin: 0 auto;
  text-align: center !important;
  font-size: small;
  color:  rgba(39,33,66,0.7);
}

.social-media-link {
  color:  rgba(39,33,66,0.7);
}


li {
  display: inline-block;
  padding: 8px;
}


.social-media-link:hover {
text-decoration: underline;
color: #482c6b;
}