
body {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  
}

.weather-app-wrapper {
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  border: 1px solid #482c6b;
  border-radius: 35px;
  max-width: 600px;
  margin: 30px auto;
  padding: 10px 20px 10px 20px;
}

#city-name2 {
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(39,33,66,0.9);
}

i {
  font-size: 34px;
}
h1 {
  font-weight: 900;
  color: #fff;
}

#zip-code-button1 {
  background-color: #30cfd0;
  margin-left: -10px;
  border: none;
}

#search-bar1 {
  text-align: center;
  margin-left: -16px;
  margin-top: 10px;
}

#current-temperature {
  font-size: 40px;
}

#icon {
  width: 64px;
  height: 64px;
  position: relative;
  left: 16px;
  bottom: 4px;
}

.degrees {
  position: relative;
  bottom: 60px;
  left: 145px;
  font-size: 12px;
}

.fahrenheit {
  position: relative;
  bottom: 78px;
  left: 165px;
  font-size: 12px;
}

#weather-description {
  position: relative;
  margin-left: 58px;
  margin-top: -60px;
  font-style: italic;
  font-size: 14px;
}




#feels-like, #weather-description, #current-temperature, #weather-conditions, #selected-location, #fa-cloud-sun-rain {
  color: rgba(39,33,66,0.7);
}

#selected-location {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.col {
  padding: 0;
  margin: 3px;
}

h5 {
  text-decoration: none;
  color: rgba(39,33,66,0.9);
  font-size: 14px;
}

a {
  text-decoration: none;
}

.fa-cloud-sun-rain {
  color: rgba(39,33,66,0.7);
}

#area-text-search {
  margin: 2px;
}

#forecast-card {
  background: #89BBD4;
  transition: 150ms ease-in-out;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  
}


#forecast-card:hover {
  background: #A59FCE;
}

.coder-name {
  text-align: center;
  color: rgba(39,33,66,0.7);
  margin-top: 20px;
}

#linkedin, #email, #twitter, #facebook, #github {
  font-size: medium;

}
.social-media {

  display: block;
  margin: 0 auto;
  text-align: center !important;
  font-size: small;
  color:  rgba(39,33,66,0.7);
}

.weather-conditions {

  display: block;
  text-align: center !important;
  color:  rgba(39,33,66,0.7);
  margin-bottom: 30px;
  margin-top: 0 auto;
}



.social-media-link {
  color:  rgba(39,33,66,0.7);
}


li {
  display: inline-block;
  padding: 8px;
}


.social-media-link:hover {
text-decoration: underline;
color: #482c6b;
}

.profile {
  border-radius: 100px;
    border: solid 1px #efefef;
    display: block;
    height: 50px;
    margin: 10px auto 10px;
    width: 50px;

}

.fa-user-alt {
  height: 100%;
    left: 0;
    position: absolute;
    top: 170px;
    width: 100%;
    color: black;
}

#heart { 
    position: relative; 
    width: 100px; 
    height: 90px; 
} 

#heart:before, #heart:after { 
    position: absolute; 
    content: ""; 
    left: 50px; 
    top: 0; 
    width: 50px; 
    height: 80px; 
    background: rgb(163, 117, 117); 
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
} 

#heart:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%; 
}