
body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}


.weather-app-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  max-width: 600px;
  margin: 30px auto;
  padding: 10px 20px 10px 20px;
}

#city-name {
  font-weight: bold;
}

i {
  font-size: 34px;
}
h1 {
  font-weight: 900;
  color: #fff;
}

#zip-code-button1 {
  background-color: #30cfd0;
  display: relative;
  margin-right: 135px;
}

.degrees,
.fahrenheit {
  position: relative;
  bottom: 50px;
  left: 135px;
}



#feels-like, #current-temperature, #weather-conditions, #selected-location, #fa-cloud-sun-rain {
  color: #fff;
}

.col {
  padding: 0;
  margin: 3px;
}

h5 {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
}

.fa-cloud-sun-rain {
  color: rgba(39,33,66,0.7);
}

#area-text-search {
  margin: 2px;
}

.card {
  transition: 150ms ease-in-out;
}

.card:hover {
  background:#328BAC;
}

.coder-name {
  text-align: center;
  color: rgba(39,33,66,0.7);
}

#linkedin, #email, #twitter, #facebook, #github {
  font-size: medium;

}
.social-media {

  display: block;
  margin: 0 auto;
  text-align: center !important;
  font-size: small;
  color:  rgba(39,33,66,0.7);
}

.social-media-link {
  color:  rgba(39,33,66,0.7);
}


li {
  display: inline-block;
  padding: 8px;
}


.social-media-link:hover {
text-decoration: underline;
color: #482c6b;
}

.profile {
  border-radius: 100px;
    border: solid 1px #efefef;
    display: block;
    height: 50px;
    margin: 10px auto 10px;
    width: 50px;

}

.fa-user-alt {
  height: 100%;
    left: 0;
    position: absolute;
    top: 170px;
    width: 100%;
    color: black;
}

#heart { 
    position: relative; 
    width: 100px; 
    height: 90px; 
} 

#heart:before, #heart:after { 
    position: absolute; 
    content: ""; 
    left: 50px; 
    top: 0; 
    width: 50px; 
    height: 80px; 
    background: rgb(163, 117, 117); 
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
} 

#heart:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%; 
}